@page
@model CarApp.Pages.Car.Details

@{
    ViewData["Title"] = "Details Car";
    Layout = "Shared/_Layout";
}

<div class="container mt-4">
    <h2>Mark Details</h2>
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Car.Id</dd>

        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Car.Name</dd>

        <dt class="col-sm-2">Mark</dt>
        <dd class="col-sm-10">
            <a asp-page="/Mark/Details" asp-route-id="@Model.Car.Mark.Id">
                @Model.Car.Mark.Name
            </a>
        </dd>

        <dt class="col-sm-2">CreateBy</dt>
        <dd class="col-sm-10">@Model.Car.CreatedBy</dd>
    </dl>
    <a asp-page="/Mark/Index" class="btn btn-secondary">Back to List</a>
    <a asp-page="/Car/Edit" asp-route-id="@Model.Car.Id" class="btn btn-primary ms-2">Edit</a>
</div>